
[Interface]
PrivateKey = {{ wg_priv }}
ListenPort = 51820
#PostUp = iptables -A FORWARD -i wg0 -o eth0 -j ACCEPT; iptables -A FORWARD -i eth0 -o wg0 -j ACCEPT;
# also had to run sudo ip route add 10.100.0.0/24 dev wg0 scope link to modify royte tables


{% for host in groups['all'] %}
{% if hostvars[host]['wg_pub'] != wg_pub %}
[Peer]
PublicKey  = {{ hostvars[host]['wg_pub']  }}
Endpoint   = {{ hostvars[host]['inventory_hostname'] }}:51820
AllowedIPs = {{ hostvars[host]['ansible_default_ipv4']['address'] }}/24

{% endif %}
{% endfor %}
